<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/panier.css" />
    <link rel="stylesheet" href="../style/main.css" />
    <link rel="stylesheet" href="../style/navbar.css" />
    <link rel="stylesheet" href="./panier_vetement_selectionner.css" />
    <title>template_panier</title>
  </head>

  <body>
    <div class="panier_top_left">
      <div class="panier_vetement_right">
        <h1 class="titre">Mon panier (1 article)</h1>

        <div class="grid_panier_vetement_mid">
          <div></div>
          <div></div>
          <img
            id="image_airMax"
            src="../img/shoes_panier.svg"
            alt="chaussures panier"
          />
          <div>
            <p id="Nike_sportwear">Nike Sportwear</p>
            <p id="air_max_97">Air Max 97 low-top sneakers</p>
            <p id="size_US">size 8.5 US</p>
          </div>

          <div></div>
          <div class="move_remove">
            <p id="poubelle">
              <img src="../img/poubelle.svg" alt="icone poubelle" /> remove</p
            >
            <img
              id="petite_ligne"
              src="../img/little_line.svg"
              alt="petite ligne"
            />
            <p id="coeur">
              <img src="../img/petit_coeur.svg" alt="icone petit_coeur" /> Move
              to my favorites</p
            >
          </div>
        </div>

        <p id="i_bot">
          <img src="../img/petit_i.svg" alt="icone i" /> items in the shopping
          bag are not reserved.
        </p>
      </div>

      <div class="panier_vetement_left">
        <div class="custom-select">
          <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>

        <p class="prix_right">CHF 220.00</p>
      </div>
    </div>
  </body>
</html>
