body {
  background-color: #e3e3e3;
}

/* Order Info*/
.FinalPrice {
  background-color: #ffffff;
  width: 450px;
  height: 300px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.UpperZone {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.total {
  display: flex;
  font-size: 24px;
  font-weight: 600;
  padding-left: 5%;
  padding-top: 5%;
}
.UpperZoneBottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.info {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.info a {
  display: flex;
  align-items: center;
  padding-left: 10%;
  font-size: 16px;
}

.PriceLayout {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.PriceLayout a {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 5%;
}
.FinalPrice hr {
  color: #d6d6d6;
  width: 96%;
  margin: auto;
  display: flex;
  align-items: center;
}
.BottomZone {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.VAT {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.TextVAT {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 10%;
  font-weight: 600;
}
.PriceVAT {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 5%;
}
.Button_view {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Button_view input {
  width: 90%;
  height: 49px;
  background-color: black;
  color: white;
  border: none;
  font-weight: 600;
}
.Button_view input:hover {
  transition: 1s;
  background-color: white;
  color: blueviolet;
  border: 1px solid gray;
}

/* Code section*/
.addCodeDiv {
  width: 450px;
  height: 97px;
  background-color: #ffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  justify-content: space-between;
}

.first {
  display: flex;
}

.seconde {
  display: flex;
}

.optionalDiv {
  margin-left: 7px;
  color: #727272;
}

.vectorDiv {
  margin-right: 47px;
  width: 13px;
}

.containerAddCode {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.addCode {
  margin-left: 19px;
}

@media screen and (max-width: 290px) {
  .first {
    display: block;
  }

  .optionalDiv {
    margin-left: 18px;
    color: #727272;
  }

  .vectorDiv {
    margin-right: 20px;
    width: 13px;
  }
}

@media screen and (max-width: 212px) {
  .addCodeDiv {
    font-size: 12px;
  }

  .vectorDiv {
    margin-right: 20px;
    width: 10px;
  }
}
