<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="prix.css" />
    <link rel="stylesheet" href="/style/main.css" />
    <title>template</title>
  </head>
  <body>
    <div class="FinalPrice">
      <div class="UpperZone">
        <a class="total">Total</a>
        <div class="UpperZoneBottom">
          <div class="info">
            <a>SubTotal</a>
            <a>Livraison</a>
          </div>
          <div class="PriceLayout">
            <a>CHF 220.00</a>
            <a id="Livraison">CHF 0.00</a>
          </div>
        </div>
        <hr />
      </div>
      <div class="BottomZone">
        <div class="VAT">
          <div class="TextVAT">
            <a>Total (VAT inclued)</a>
          </div>
          <div class="PriceVAT">
            <a>CHF 220.00</a>
          </div>
        </div>
        <div class="Button_view">
          <input type="button" value="ORDER" />
        </div>
      </div>
    </div>
  </body>
</html>
