/* grid pour "à la une" */
.article_une_1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* CSS IMAGE à la une  */
.article_left {
  margin-top: 1em;
}

.image_une {
  margin-top: 5%;
  margin-bottom: 5%;

  width: 100%;
  max-width: 800px;
  height: auto;
}

@media screen and (min-width: 800px) {
  .article_left > .image_une {
    margin-left: 1em;
  }
}
/* Le texte a droite */

.article_right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article_right > h2 {
  font-size: 24px;
  line-height: 28px;
  margin-top: 10%;
  text-decoration-line: underline;
  margin-bottom: 25%;
}

@media screen and (min-width: 1600px) {
  .article_right > h2 {
    margin-bottom: 20%;
  }
}

.article_right > p {
  font-size: 15px;
  margin-left: 7%;
  margin-right: 7%;
  text-align: center;
}

.article_right > h3 {
  margin-top: 8%;
  font-size: 15px;
  text-align: center;
}

.article_right > h4 {
  font-size: 10px;
}

.Button_view {
  margin-top: 17%;
  margin-bottom: 5%;
  padding: 5% 15%;
  font-size: 20px;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  background-color: black;
  color: #ffffff;
}

.Button_view:hover {
  transition: 0.8s;
  color: blueviolet;
  background-color: #ffffff;
}

@media screen and (min-width: 1000px) {
  .article_right > h2 {
    font-size: 48px;
  }

  .article_right > p {
    font-size: 32px;
  }

  .article_right > h3 {
    font-size: 32px;
  }

  .article_right > h4 {
    font-size: 20px;
  }

  .Button_view {
    font-size: 36px;
  }
}

/* inversion pour 2ème image */

.article_une_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba(227, 227, 227, 1);
}

@media screen and (min-width: 800px) {
  .article_right > .image_une {
    margin-right: 1em;
  }
}

.article_left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article_left > h2 {
  font-size: 24px;
  line-height: 28px;
  margin-top: 10%;
  text-decoration-line: underline;
  margin-bottom: 25%;
}

@media screen and (min-width: 1600px) {
  .article_left > h2 {
    margin-bottom: 20%;
  }
}

.article_left > p {
  font-size: 15px;
  margin-left: 7%;
  margin-right: 7%;
  text-align: center;
}

.article_left > h3 {
  margin-top: 8%;
  font-size: 15px;
  text-align: center;
}

.article_left > h4 {
  font-size: 10px;
}

@media screen and (min-width: 1000px) {
  .article_left > h2 {
    font-size: 48px;
  }

  .article_left > p {
    font-size: 32px;
  }

  .article_left > h3 {
    font-size: 32px;
  }

  .article_left > h4 {
    font-size: 20px;
  }
}
