/* Article à la une */

.article_une {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.article_left {
  margin-top: 1em;
}

.image {
  margin-top: 5%;
  margin-bottom: 5%;

  width: 100%;
  max-width: 300px;
  height: auto;
}
