footer {
    height: 433px;
    width: 100%;
    background-color: #242424;
    margin-bottom: 0%;

}

.footerContainer {
    display: flex;
    justify-content: center;
}

.containerFooter1 {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.txt {
    color: rgb(255, 255, 255);
    font-size: 15px;
}

.txtdiv1 {
    height: 30px;
    width: 45px;
    margin-left: 31px;
}

.txtdiv2 {
    height: 29px;
    width: 149px;
    margin-left: 10.9px;
}

.txtdiv3 {
    height: 33px;
    width: 51px;
    margin-right: 50px;
}

.containerFooter2 {
    display: flex;
    justify-content: space-between;

    width: 127px;
    height: 33px;


}

.txtdiv4 {
    height: 33px;
    width: 55px;
    margin-left: 8.5px;
    margin-right: 16.7px;
    margin-top: 25px;
}

.txtdiv5 {
    height: 15px;
    width: 30px;
    margin-left: 10.7px;
    margin-right: 242px;
    margin-top: 37px;
}

.barre {
    height: 27.69px;
    width: 1px;
}

.barre1 {
    margin-left: 30.1px;
}

.barre4 {
    margin-top: 26px;
    margin-left: 20px;
}

.barre3 {
    margin-left: 22.5px;
    margin-top: 26px;
}

.containerFooter3 {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.txtdiv6 {
    height: 13px;
    width: 120px;
    margin-left: 32.3px;
    margin-top: 69px;
}

.txtdiv7 {
    height: 16px;
    width: 132px;
    margin-top: 72px;
    margin-right: 23px;

}

.containerFooterBig {
    display: flex;
    justify-content: space-between;

}

.containerFooter4 {
    height: 37px;
    width: 148px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 17px;
}

.containerFooter5 {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    height: 41px;
    width: 104px;
    margin-right: 36px;
}

.parametres {
    border: solid rgb(255, 255, 255) 1px;
    color: rgb(255, 255, 255);
    height: 80px;
    width: 346px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

.containerFooter6 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 45px;
}

body {
    overflow-x: hidden
}