.containerNavbar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    justify-items: center;

}


.liststyle {
    list-style-type: none;
    float: left;

}

.grp2Navbar ul {
    display: flex;
    gap: 45px;

}

.grp2Navbar a {
    color: black;
    text-decoration: none;
}

.grp2Navbar a:hover {
    transition: 1s;
    color: blueviolet;
}

.grp3Navbar form {}