/*partie tah adil / mobile*/

.containerMain1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.menDivImg {
  height: 89px;
  width: 205px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: solid white 1px;
  border-radius: 100px;
  color: white;
  font-size: 30px;
  font-weight: 900px;
  position: absolute;
  z-index: 1;
  margin-top: 274px;
  margin-left: 92px;

  color: #ffffff;
}

.childDivImg {
  height: 89px;
  width: 205px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: solid white 1px;
  border-radius: 100px;
  color: white;
  font-size: 30px;
  font-weight: 900px;
  position: absolute;
  z-index: 1;
  margin-top: 280px;
  margin-left: 92px;
}

.womenDivImg {
  height: 89px;
  width: 205px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: solid white 1px;
  border-radius: 100px;
  color: white;
  font-size: 30px;
  font-weight: 900px;
  position: absolute;
  z-index: 1;

}

.imgMainMen {
  width: 100%;
  height: auto;

}

.imgMainChild {
  width: 100%;
  height: auto;
  margin-top: -3.6px;
  margin-left: -3.6px;
}

.imgMainWomen {
  width: 100%;
  height: auto;
  margin-top: -4px;

}